ul.emojist {
  list-style-type: none;
}

.emojist li {
  padding-left: 1rem;
  text-indent: -0.75rem;
}

.emojist li::before {
  content: '🔪';
}

.emojist li:nth-child(2)::before {
  content: '🎮 ';
}

.emojist li:nth-child(3)::before {
  content: '🎵 ';
}

.test {
  background-color: brown;
}

.wrapper {
  /*This part is important for centering*/
  display: grid;
  place-items: center;
}

.typewritter {
  width: 22ch;
  animation: typing 2s steps(22), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
}

@media (max-width: 768px) {
  .typewritter {
    width: 7ch;
  }
}

@keyframes typing {
  from {
    width: 0
  }
}

@keyframes blink {
  50% {
    border-color: transparent
  }
}


@media (hover: hover) and (pointer: fine) {
  .fade-on-hover {
    transition: opacity 0.5s ease;
  }

  .fade-on-hover:hover {
    opacity: 0.5;
    transition: opacity 0.5s ease-out;
  }

  .fade-on-hover:hover::after {
    opacity: 1;
    transition: opacity 0.5s ease;
  }
}