.photo-id {
    width: 200px;
    height: auto;
    margin-top: 5em;
    border-radius: 10px;
}

.firstList {
    text-align: right;
    padding: 1em;
    margin: auto;
}

.firstTxt {
    font-size: 1.5em;
    margin-top: 1.5em;
    margin-bottom: 1.5em;

}

body {
    font-family: 'Readex Pro', sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
    background-color: #FFFDFA;

}

h1 {
    font-family: 'Readex Pro', sans-serif;
    font-size: 5em;

}


.headerMain {
    display: flex;
    align-items: center;

}

.nameHeader {
    padding: 20px;
    line-height: 0.9;
}

ul {
    list-style: none;
}

main {
    font-size: 1.2em;
}

.years {
    color: #808b96;
}

.employeur {
    font-style: italic;
}

.interest {
    font-weight: bold;
    background-color: #eaecee;
}

.linkedin {
    width: 20px;
    height: auto;
}

.expPro,
.education,
.interets {
    display: flex;
    gap: 2em;

}

.expPro,
.education {
    border-top: 2px solid transparent;
    border-image: linear-gradient(90deg, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    border-image-slice: 1;
}

.education,
.interets {
    margin-top: 5em;
}

.interets {
    margin-bottom: 5em;
}


h3 {
    /* background-color: #dbd7d18b; */
    background: linear-gradient(270deg, #e9d89461, #eeaeca56);
    background-size: 400% 400%;

    -webkit-animation: boxgradlight 40s ease infinite;
    -moz-animation: boxgradlight 40s ease infinite;
    animation: boxgradlight 40s ease infinite;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5em 0.5em;
}

.interetsplit {
    border-left: 2px solid transparent;
    border-image: linear-gradient(180deg, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    border-image-slice: 1;
    padding-left: 1em;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #2e2e30;
        color: #fefefe;
    }

    .interest {
        background-color: #2e2e30;
    }

    h3 {
        animation: animateBg 14s linear infinite;
        background-image: linear-gradient(90deg, #ffc58a, #eba0b4, #ffc58a, #eba0b4);
        background-size: 300% 100%;
    }

    @keyframes animateBg {
        0% {
            background-position: 0% 0%;
        }

        100% {
            background-position: 100% 0%;
        }
    }
}

@-webkit-keyframes boxgradlight {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes boxgradlight {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@keyframes boxgradlight {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

/* @media screen and (max-width:600px) {

} */